<!-- index.html -->
<!doctype html>
<!-- Assign our angular module -->
<html ng-app='newApp'>  <!-- nombre del modulo Angular --> 
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, inital-scale=1"> <!-- Optimize mobile viewport -->
    
    <title>Esqueleto MEAN</title>
    <!--Scrolls -->
    <link rel="stylesheet" href='stylesheets/general.css'> <!-- Tú CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html       {overflow-y:scroll;}
        body       {padding-top:50px;}
    </style>
    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="/js/controllers/main.js"></script><!-- carga el  controladores principal -->
    <script src="/js/services/services.js"></script><!--carga el servicio(...) -->
    <script src="/js/core.js"></script> <!-- load our main app -->

</head>
    <body ng-controller= 'mainController'>
        <div class="container">
               <div class="jumbotron">
  <h1>Estructuras Discretas</h1>
                   <div class="form-group">
 
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Busca tu Libro!">
  </div>
  <p><a class="btn btn-primary btn-lg" role="button">Buscar</a></p>
</div>

            </div>
    </body>
</html>
