<h1> Agregar Libro</h1>

<form style="text-align: center;width:60%;left:20%;position:relative;">
<label>Titulo</label>
<input  type="text" required class="form-control input-lg text-center" placeholder="..."  ng-model="formData.titulo">
<label>Autor</label>
<input  type="text" required class="form-control input-lg text-center" placeholder="..."  ng-model="formData.autor">
<label>Editorial</label>
<input  type="text" required class="form-control input-lg text-center" placeholder="..."  ng-model="formData.editorial">
<label>Biblioteca</label>
<input  type="text" required class="form-control input-lg text-center" placeholder="..."  ng-model="formData.biblioteca">
<label>Temas</label>
<input  type="text" required class="form-control input-lg text-center" placeholder="..."  ng-model="formData.tema"> 
    
<button type="submit" class="btn btn-primary btn-lg" ng-click="crearLibro()"> Agregar </button>
    </form>
<div>
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

