        <div class="container">
               <div class="jumbotron">
                   
  <h1>Estructuras Discretas</h1>
<!--                   <div class = ".visible-md" style ="position:absolute; top: -1%; left: 6%; color: #428BCA;"> <i class=" flaticon-line17"></i>  </div> -->
                   <div class="form-group">
 
    <input type="text" ng-model="q" class="form-control"  placeholder="Busca tu Libro!" >
  </div>
  <p><a class="btn btn-primary btn-lg" role="button" ng-click="Buscar()">Buscar</a></p>
                                      
<div class="inst">
    <nav class = "navbar navbar-default" role = "navigation" id = "menu">
     <ul id = "categorias" class="nav navbar-nav">
    <li ><a ng-click="Collapse()">¿Cómo Buscar?</a></li>
	
     <li><a ng-click="Nomen()">Nomenclatura</a></li>
    <li><a ng-click="Integrantes()">Integrantes</a></li>
       </ul>
        </nav>
	
	<div collapse="isCollapsed">
		<div class="well well-lg"><i style="color:#A63652;">{{contenido[0]}}</i><i style="margin-left:67%; color:#A63652;">{{contenido[1]}}</i>
            <br>
            {{contenido2[0]}}<i style="margin-left:57%;">{{contenido2[1]}}</i>
            <br>
            <i style="color:#A63652;">{{contenido3[0]}}</i><i style="margin-left:63%; color:#A63652;">{{contenido3[1]}}</i>
            <br>
             {{contenido4[0]}}<i style="margin-left:63%;">{{contenido4[1]}}</i>
           <br>
             <i style="color:#A63652;">{{contenido5[0]}}</i><i style="margin-left:63%; color:#A63652;">{{contenido5[1]}}</i>
            
             {{contenido6[0]}}<i style="margin-left:63%;">{{contenido6[1]}}</i>
            <br>
            <button class= "btn btn-default" ng-click="isCollapsed = !isCollapsed">Entendido</button>
        </div> 
        </div>
	</div>
</div>


</div>
           
<div ng-if="libros.length == 0">
    

<div>
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

</div>
  <div ng-if="libros.length != 0">   
      <div class="container">
       <div class="table-responsive">
       <table class="table table-striped table-hover" ng-show= "b">
          
              
            <tr>
                <th>N</th>
                <th>Titulo</th>
                <th>Código</th>                
              <th>Autor</th>
                <th>Editorial</th>
                <th>Temas</th>
                <th>Biblioteca</th>
                </tr>
                  
          
                <tr ng-repeat="libro in libros" >
                <td>{{$index + 1}}</td>
                <td>{{libro.titulo}}</td>
                <td style="color:#357EBD;">{{libro.codigo}}</td>
                <td>{{libro.autor}}</td>
                <td>{{libro.editorial}}</td>
                <td ><i ng-repeat="t in libro.temas"><i ng-if="($index+1)%2 == 0">{{t}}&nbsp;&nbsp;</i><i ng-if="($index+1)%2 != 0" style="color:#A63652;">{{t}}&nbsp;&nbsp;</i><i ng-if="($index+1)%10==0"><br></i></i></td>
                <td>{{libro.biblioteca}}</td>
                </tr>
            </table>
           </div>
         </div>
      </div>
     
    